@section styles {
    <link href="@Url.Content("~/css/Amigos.css")" rel="stylesheet" type="text/css" />
}


@model IEnumerable<FINAL_MVC.Models.Usuario>

@{
    ViewData["Title"] = "Amigos";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   

<div class="container">

   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">Sean Ngu</h4>
                       
                    
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->
                  <ul class="profile-header-tab nav nav-tabs">
                     <li class="nav-item" align-items="center"> Amigos
                  <!-- END profile-header-tab -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0">
                  <!-- begin #profile-friends tab -->
                     <input type="text" class="form-control" name="BuscarAmigos" value="Ingrese el E-mail de su amigo">
                    <input type="submit" value="Agregar Amigo" class="btn btn-primary" />

                  <div class="tab-pane fade in active show" id="profile-friends">

               

                     <h4 class="m-t-0 m-b-20">Friend List (14)</h4>


                     <!-- begin row -->
                     <div class="row row-space-2">
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                             @foreach (var item in Model) {
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse"> @Html.DisplayFor(modelItem => item.Nombre)</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <div class="btn-group dropdown">
                              
                                       <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                       <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                          <li><a href="javascript:;">Action 1</a></li>
                                          <li><a href="javascript:;">Action 2</a></li>
                                          <li><a href="javascript:;">Action 3</a></li>
                                          <li class="divider"></li>
                                          <li><a href="javascript:;">Action 4</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                            }

                        </div>
                        <!-- end col-6 -->
                        <!-- begin col-6 -->
                        <!-- end col-6 -->
                        <!-- begin col-6 -->
                        <div class="col-md-6 m-b-2">
                           <div class="p-10 bg-white">
                              <div class="media media-xs overflow-visible">
                                 <a class="media-left" href="javascript:;">
                                 <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="media-object img-circle">
                                 </a>
                                 <div class="media-body valign-middle">
                                    <b class="text-inverse">Gabrielle Bunton</b>
                                 </div>
                                 <div class="media-body valign-middle text-right overflow-visible">
                                    <div class="btn-group dropdown">
                                  
                                       <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                       <ul class="dropdown-menu dropdown-menu-right">
                                          <li><a href="javascript:;">Action 1</a></li>
                                          <li><a href="javascript:;">Action 2</a></li>
                                          <li><a href="javascript:;">Action 3</a></li>
                                          <li class="divider"></li>
                                          <li><a href="javascript:;">Action 4</a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- end col-6 -->
                     </div>
                     <!-- end row -->
                  </div>
                  <!-- end #profile-friends tab -->
                   <input type="button" class="btn btn-secondary" value="Volver al inicio" onclick="@("window.location.href='" + @Url.Action("InicioUsuario", "UsuarioComun") + "'");" />
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>

