@model FINAL_MVC.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    
    <div class="row">
    
    <div class="col-md-4">
        @if (ViewBag.AvisoEdit != null)
            {
                <div class="alert alert-success" role="alert">
                        @ViewBag.AvisoEdit
                       
                </div>
            }

            <form asp-action="EditarPerfil">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="Password" />
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" asp class="btn btn-primary" />
                </div>
            </form>
           <input type="button" class="btn btn-primary" value="Volver" onclick="@("window.location.href='" + @Url.Action("InicioUsuario", "UsuarioComun") + "'");" />
           <form asp-action="EliminarMiUsuario">
            <input type="hidden" asp-for="ID" />
            <input type="submit" class="btn btn-primary" value="Eliminar Usuario" />
           </form>

        </div>
    </div>



</div>
<div>

</div>
